/* Color styles */
$text-primary: #000000;
$title-primary: #B7450A;
$banner-primary: #FFCC01;
$banner-secondary: #FDB515;
$banner-tertiary: #F79400;
$background-primary: #EEEEEE;

$basefont:"Ubuntu", sans-serif;