/* Color styles */
$text-primary: #000000;
$title-primary: #b7450a;
$banner-primary: #ffcc01;
$banner-secondary: rgb(253, 181, 21);
$banner-tertiary: #f79400;
$background-primary: #eeeeee;

$basefont: "Ubuntu", sans-serif;

.title-primary {
  color: $title-primary;
}
